<div bb-services ng-init="checkStepTitle('Select a service')" class="bb-service-list">
  <div class="bb-subcontent">

    <div ng-show="items.length > 10" bb-include="_service_list_filter">
    </div>
    <ul class="bb-list bb-list-bordered">
      <!-- If there is a service name only + button (this will always show if  services) -->
      <li ng-repeat="item in filtered_items">
        <div class="row" ng-show="item.name">
          <h2 class="col-sm-9 col-md-10 panel-title bb-service-name">{{item.name}}</h2>
          <div class="col-sm-3 col-md-2">
            <button type="button" ng-click="selectItem(item)" class="btn btn-primary btn-block pull-right">Select</button>
          </div>
        </div>

        <div class="row bb-sub-service" ng-show="item.description && !item.price && !item.extra.image_url">
          <div class="bb-service-description col-sm-12">
            {{item.description}}
          </div>
        </div>

        <div class="row bb-sub-service" ng-show="(item.price > 0) && (item.description) && (!item.extra.image_url)">
          <div class="bb-service-description col-sm-9">
            {{item.description}}
          </div>
          <div class="bb-service-price col-sm-3">{{item.price | pretty_price}}</div>
        </div>

        <div class="row bb-sub-service" ng-show="item.extra.image_url && !item.description && !item.price">
          <div class="bb-service-image col-sm-2">
            <img ng-src="{{item.extra.image_url}}" class="img-responsive"/>
          </div>
        </div>

        <div class="row bb-sub-service" ng-show="item.extra.image_url && !item.description && item.price">
          <div class="bb-service-image col-sm-2">
            <img ng-src="{{item.extra.image_url}}" class="img-responsive"/>
          </div>
          <div class="col-sm-10 bb-service-price">
            {{item.price | pretty_price}}
          </div>
        </div>

        <div class="row bb-sub-service" ng-show="(item.extra.image_url) && (item.description) && !(item.price)">
          <div class="bb-service-image col-sm-2">
            <img ng-src="{{item.extra.image_url}}" class="img-responsive"/>
          </div>
          <div class="bb-service-description col-sm-10">
            {{item.description}}
          </div>
        </div>

        <div class="row bb-sub-service" ng-show="(item.extra.image_url) && (item.description) && (item.price)">
          <div class="col-sm-2 bb-service-image">
            <img ng-src="{{item.extra.image_url}}" class="img-responsive"/>
          </div>
          <div class="col-sm-8 col-xs-9 bb-service-description">
            {{item.description}}
          </div>
          <div class="col-sm-2 col-xs-3 bb-service-price">
            {{item.price | pretty_price}}
          </div>
        </div>
      </li>
    </ul>
  </div>

<div class="bb-step-navigation">
  <div class="row">
    <div class="col-sm-3">
      <button type="button" class="btn btn-default" bb-debounce ng-click="loadPreviousStep()" ng-show="bb.current_step > 1">Back</button>
    </div>
  </div>
</div>
